.navbar{
    background-color: #fff;
}

.navbar__content{
    justify-content: flex-end!important;
    background-color: #fff;
}

.nav__link{
    padding: 0.3rem 0.3rem;
}


.btn__default{
    background-color: #fff;
    border: 1px solid #014c5f!important;
    color:black;
}

.btn__logout {
    margin-top: 35px;
    float: right;
    margin-bottom: 15px;
}
.btn__default:hover{
    background-color: #007e9e!important;
    border: 1px solid #007e9e!important;
    color: #fff;
}

.drawer__image {
    margin: 20px auto;
    width: 40% !important;
    border-radius: 50%;
    max-height: 200px !important;
}

.drawer__content {
    margin: 15px;
    text-align: center;
}

.drawer-closed {
    display: none;
}

.drawer {
    width: 30%;
    box-shadow: 0px 0px 5px #7f7f7f;
    position: absolute;
    top: 100%;
    right: 0;
    margin-right: 15px;
    background-color: #fff;
}

.icon {
    font-size: 30px;
    color: #4a4a49;
    margin-right: 10px;
}

.icon__close{
    float: right;
    font-size: 25px;
    color: #4a4a49;
    margin-bottom: 5px;
}