.pageination {
    text-align: center;
}

.pageination__button {
    margin-right: 5px;
    border: 1px solid #014c5f!important;
}

.current__page {
    background-color: #17a2b8;
    color: white;
    border: unset !important;
}