.registr__bg {
    background-image: url("../images/bg-pattern.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0b223e;
    overflow-x: auto;
    height: 100vh;
    font-size: 14px;
}

.label {
  margin: 0;
  font-size: .75rem!important;
}

.form-control{
  font-size: .65rem!important;
}

.login{
  font-weight: 600;
  color: #003980;
}

.error__password {
  font-size: 10px;
  color: red;
  margin: 0;
}

.error__false {
  display: non;
}